<a href="https://colab.research.google.com/github/sda96/AIFFEL_3rd_hackerton_TUNiB_DKTC/blob/main/notebook/SeungTaek/json_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd # pandas 모듈 로드
import json  # json 모듈 로드
import re
import os
from glob import glob
from tqdm import tqdm
from google.colab import drive
import zipfile

In [ ]:
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data_path = "/content/drive/MyDrive/AIFFEL/Training"
files = glob(data_path + "/*.zip")
files

In [ ]:
for i in tqdm(files):
    zipfile.ZipFile(i).extractall()

100%|██████████| 15/15 [04:31<00:00, 18.13s/it]

In [ ]:
txt_path = "/content"
txt_files = glob(txt_path + "/*/G02/*/*.json")
txt_files

In [ ]:
with open("/content/D20/G02/S000600/S000600.json", "r") as f:
    dict = json.load(f)
dict["dataSet"]["typeInfo"]["category"]

'교육'

In [ ]:
bucket_text = []
for json_file in tqdm(txt_files):
    with open(json_file, "r") as f:
        data_dict = json.load(f)
        category = data_dict["dataSet"]["typeInfo"]["category"]
        bucket_text.append(category)

bucket_text = set(bucket_text)
bucket_text

100%|██████████| 4731/4731 [00:03<00:00, 1368.33it/s]

{'IT', '가족', '교양', '교육', '금융', '문화예술', '시사', '토크'}

In [ ]:
bucket_text = []
for json_file in tqdm(txt_files):
    with open(json_file, "r") as f:
        data_dict = json.load(f)
        category = data_dict["dataSet"]["typeInfo"]["category"]
        if category == "시사":
            bucket_text.append(json_file)
bucket_text[:5]

100%|██████████| 4731/4731 [00:02<00:00, 1691.82it/s]

['/content/D25/G02/S000145/S000145.json',
 '/content/D25/G02/S000390/S000390.json',
 '/content/D25/G02/S000462/S000462.json',
 '/content/D25/G02/S000093/S000093.json',
 '/content/D25/G02/S000552/S000552.json']

In [ ]:
folder_path = "/content/D25/G02"
folders = glob(folder_path + "/*")
folders[:5]

['/content/D25/G02/S000145',
 '/content/D25/G02/S000390',
 '/content/D25/G02/S000462',
 '/content/D25/G02/S000093',
 '/content/D25/G02/S000552']

In [ ]:
txt_files_24 = []
for i in folders:
    b = glob(i + "/*.txt")
    txt_files_24.append(b)

In [ ]:
def list_chunk(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

In [ ]:
sentence = []
for i in tqdm(txt_files_24):
    a = []
    for txt_file in i:
        with open(txt_file, "r") as f:
            lines = f.readline()
            a.append(lines)
    sentence.append(a)
#sentence[:2]

100%|██████████| 538/538 [00:07<00:00, 70.52it/s]

In [ ]:
b = []
for i in sentence:
    new_list = list_chunk(i, 10)
    b.append(new_list)
c = []
for i in b:
    for j in i:
        c.append(' '.join(j))

In [ ]:
df = pd.DataFrame(c)
df["class"] = "일반 대화"
df = df.rename(columns = {0 : "conversation"})
df = df[['class', 'conversation']]
df = df.sample(n = 5000, random_state = 5)
df

       class                                       conversation
10544  일반 대화  n/ 에/ 팔십년대 말에 세계 십대은행의 랭킹을 볼 것 같으면 일본계 은행이 여섯개...
12397  일반 대화  프린터 이런 제어하는, o/ 아/ 컴퓨터 조립이 n/ 쉽다고는 하지만 n/ (그래도...
8323   일반 대화  북한 민중하고 직접 접촉하면 국 국가보안법에 걸립니다. 그래서 그럴 순 없을 것 같...
23774  일반 대화  노사문제에 대해서 공권력이 전혀 개입을 안 합니다. 작년도 파업 당시에 (400여명...
16069  일반 대화  o/ 그리고 (hand phone)/(핸드폰) 문자 (message)/(메세지)에 ...
...      ...                                                ...
26423  일반 대화  아/ 그렇군요. 그래서 어/ 우려되는 점 또한 적지 않을 것 같은데요. 선생님께서 ...
25230  일반 대화  보시는 분들도 머리 아프실 것 같아요. 일반 시민들이나 o/ 충분히 좋은 의견들이 ...
5570   일반 대화  또 나도 언젠가는 또 사업주가 될 수도 있고 서로가 그런 입장을 바꿔보는 생각을 하...
29242  일반 대화  안 그래도 예산이 없어서 그런 시설 교육환경 개선을 전혀 하지 못하고 있고 있는데 ...
16625  일반 대화  (그러니까)/(까), o/ 맞은편에, n/ 교육 평가에 관해서 심도있는 연구를 해 ...

[5000 rows x 2 columns]

In [ ]:
df.to_csv("/content/시사.csv", header = True, index = False)

In [ ]:
df2 = pd.read_csv("/content/시사.csv")
df2

      class                                       conversation
0     일반 대화  n/ 에/ 팔십년대 말에 세계 십대은행의 랭킹을 볼 것 같으면 일본계 은행이 여섯개...
1     일반 대화  프린터 이런 제어하는, o/ 아/ 컴퓨터 조립이 n/ 쉽다고는 하지만 n/ (그래도...
2     일반 대화  북한 민중하고 직접 접촉하면 국 국가보안법에 걸립니다. 그래서 그럴 순 없을 것 같...
3     일반 대화  노사문제에 대해서 공권력이 전혀 개입을 안 합니다. 작년도 파업 당시에 (400여명...
4     일반 대화  o/ 그리고 (hand phone)/(핸드폰) 문자 (message)/(메세지)에 ...
...     ...                                                ...
4995  일반 대화  아/ 그렇군요. 그래서 어/ 우려되는 점 또한 적지 않을 것 같은데요. 선생님께서 ...
4996  일반 대화  보시는 분들도 머리 아프실 것 같아요. 일반 시민들이나 o/ 충분히 좋은 의견들이 ...
4997  일반 대화  또 나도 언젠가는 또 사업주가 될 수도 있고 서로가 그런 입장을 바꿔보는 생각을 하...
4998  일반 대화  안 그래도 예산이 없어서 그런 시설 교육환경 개선을 전혀 하지 못하고 있고 있는데 ...
4999  일반 대화  (그러니까)/(까), o/ 맞은편에, n/ 교육 평가에 관해서 심도있는 연구를 해 ...

[5000 rows x 2 columns]